body {
	background: #1e1f22;
	height: 100vh;
	display: flex;
	margin: 0;
	align-items: center;
	position: relative;
	overflow: hidden;
	justify-content: center;
	font-family: "SF Mono", sans-serif;
}
* {
	box-sizing: border-box;
}